/* font awesome */
$fa-font-path:"//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts"; // for referencing Bootstrap CDN font files directly
@import "../../bower_components/fontawesome/scss/font-awesome";

/* fonts */
@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		/* url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

$defaultFontStack: helvetica,arial,sans-serif !default;

/* font awesome */
@mixin t-fa {	
	&:before {
		@include fa-icon();
	}
}

/* for a specific module - like social - where it's easier to use apply styles within the module itself */
@mixin t-fa-abs {
	@include t-fa();
	position: relative; 
	text-indent: -999em; 
	display: block; 
	overflow:hidden;
	&:before {
		position: absolute; top: 50%; left:0; right:0; 
		text-align: center; 
		z-index: 2; 
		text-indent:0; 
		@include transform( translateY(-50%) );
	}
}

/* when classes are simpler */
.t-fa { @include t-fa(); }
.t-fa-abs { @include t-fa-abs(); }

/* energy font */

@include declare-font-face('JCWF-Energy','energy','../fonts/energy/');
$energyFont: JCWF-Energy;

/* character mapping for weather shore font */
$energyfCharacterMapping: (
	'en-f-corporate' "a",
	'en-f-safety' "b",
	'en-f-strength-o' "c",
	'en-f-strength' "d",
	'en-f-weights' "e"
);

.energy-f {
	@include t-fa-abs();
	&:before {
		text-transform: none !important;
		font-family: $energyFont;
	}
	
	@each $map in $energyfCharacterMapping {
	
		$class: #{nth($map,1)};
		$character: #{nth($map,2)};
		
		&.#{$class}:before {
			content: "#{$character}";
		}
		
	}
	
}