$wrapperWidth: auto; /* full screen */

/* grid */
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 500px;

/* colors */
$blueColor: #0e77b9;

$blueGradStart: #00a2e2;
$blueGradEnd: #155d8d;

$lightGradStart: #fff;
$lightGradEnd: #f3f3f3;

/* fonts */
$defaultFontStack: Roboto,helvetica,arial,sans-serif;

/* body */
$pageWrapperWidth: 1920px;
$pageBackgroundColor: #fff;
$bodyBackgroundColor: #333;
$bodyContentColor: #363636;
$darkBackgroundColor: #e2f0d6;
$darkBackgroundContentColor: #fff;
$darkSectionSeparatorColor: #d2e2c5;

/* heading */
$darkBackgroundHeadingColor: $darkBackgroundContentColor;
$headingFontStack: $defaultFontStack;
$headingColor: #136cb0;

/* footer */
$footerBackgroundColor: #222;
$footerContentColor: #fff;
$footerLinkColor: #fff;
$footerHoverColor: #fff;

$copyrightBackgroundColor: transparent;
$copyrightContentColor: #fff;
$copyrightLinkColor: #fff;
$copyrightSeparatorColor: #fff;
$copyrightHoverColor: $blueColor;

/* forms */
$fieldBackgroundColor: #fafafa;
$fieldTextColor: #{$bodyContentColor};
$fieldPlaceHolderColor: #666;
$fieldBorderColor: #e0e0e0;
$fieldFocusedBackgroundColor: #fff;
$fieldSpacing: 10px;
$fieldPadding: 14px;

/* filter area */
$filterBarBackgroundColor: transparent;
$filterBarContentColor: #{$blueColor};

$filterControlBackgroundColor: transparent;
$filterControlBackgroundColorActive: #{$blueColor};
$filterControlColor: #{$blueColor};
$filterControlColorActive: #fff;

/* acc colors */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: #fff;
$accHandleColor: #fff;
$accHandleColorActive: #fff;

$accHandleBGColor: $blueColor;
$accHandleBGColorActive: darken($blueColor,10);

$accContentBorderWidth: 0;
$accContentBorderColor: transparent !default;
$accContentBGColor: #fff;

$accContentLinkColor: $blueColor;
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $blueColor;

/* article */
$sidebarWidth: 570px;
$sidebarCollapseWidth: 800px;

$linkColor: $blueColor;
$hoverColor: darken($blueColor,20);
$visitedColor: lighten($blueColor,30);

$darkBackgroundLinkColor: #fff;
$darkBackgroundHoverColor: lighten($blueColor,20);
$darkBackgroundVisitedColor: lighten($blueColor,50);

/* lists */
$listNumberColor: $blueColor;

/* site specific */
@mixin buttonGradient {
	@include linear-gradient( 300deg, rgba($blueGradStart,0), $blueGradStart );
	background-color: $blueGradEnd;
}

@mixin lightGradient {
	@include linear-gradient( to bottom, $lightGradStart, $lightGradEnd );
}

/* buttons */
@mixin button() {
	color: #fff;
	font-weight: 300;
	@include buttonGradient();
}

@mixin buttonHover() {
	color: #fff;
	background-color: $blueGradStart;
}