/* nav */
$navHeight: 60px;

.nav { 
	max-width: $pageWrapperWidth;
	margin: 0 auto;
	position: fixed;
	top:0; left:0; right:0;
	height: $navHeight;
	z-index: 10;
	background: #fff;
	border-bottom: 1px solid transparent;
	@include transition( background 0.2s $ease-in-out-sine );
	.small-nav & { 
		background: rgba(255,255,255,0.95); 
		border-color: $blueColor;
	}
	
	.show-nav & {
		background: transparent;
	}
}

.nav-top {
	position: absolute;
	top:0; right:0;
	
	@media screen and (max-width: 680px) {
		& { 
			@include transform( translate3d(0,-100%,0) );
			@include transition( transform 0.4s $ease-in-out-back 0s );
			z-index: 11;
			
			.show-nav & {
				@include transition-delay( 0.4s );
				@include transform( translate3d(0,0,0) );
				
				a { 
					color: #fff; 
					&:hover { background: darken($blueColor,20); }
				}
				
			}
		}
	}
	
	a {
		@include display( flex );
		@include align-items( center );
		float: left;
		text-transform: uppercase;
		line-height: $navHeight;
		padding: 10px;
		height: $navHeight;
		position: relative;
		overflow:hidden;
		color: $blueColor;
		@include transition( all 0.2s $ease-in-out-sine );
		
		&:before {
			position: absolute;
			width: 150px; height: 150px;
			border-radius: 50%;
			top:50%; left:50%;
			content:"";
			background-color: $blueColor;
			@include transition( transform 0.4s $ease-in-out-sine );
			@include transform( translate3d(-50%,-50%,0) scale(0,0) );
			z-index: -1;
		}
		
		&:hover {
			&,
			&:after { color: #fff; }
			&:before {
				@include transform( translate3d(-50%,-50%,0) scale(1,1) );
			}
		}
		
	}
}

body {
	&:after {
		position: fixed;
		top:0; left:0; right:0; bottom:0;
		height: 100vh;
		content:"";
		z-index: 8;
		background: rgba($blueColor,0.9);
		@include transform( translate3d(0,-100%,0) );
		@include transition( all 0.3s $ease-in-out-sine 0.2s );
	}
	
	.show-nav & {
		height: 100vh;
		overflow:hidden;
		&:after {
			@include transform( translate3d(0,0,0) );
		}
	}
}

nav {
    position: fixed;
    top: $navHeight;
	margin-top: -#{$navHeight};
    left: 0;
    right: 0;
    bottom:0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
    z-index:  9;
    @include display( flex );
	@include transform( translate3d(0,-100%,0) );
	@include transition( all 0.4s $ease-in-out-sine 0.2s );
	
	.show-nav & {
		margin-top:0;
		@include transform( translate3d(0,0,0) );
	}
	
	ul {
	
		@include display( flex );
		@include justify-content( center );
		@include flex-wrap( wrap );
		width: 100%;
		margin:  auto;
		max-height: 100vh;
		padding: 0 0 60px;
	}
	
	li {
	
		text-align: center; 
		opacity:0;
		@include transform( translate3d(0,-20px,0) );
		@include transition( all 0.3s $ease-in-out-sine );
		
		@media screen and (max-width: 600px) {
			@include flex( 0 0 100% );
		}
		
		.show-nav & {
			opacity:1;
			@include transform( translate3d(0,0,0) );
			
			@for $i from 1 through 7 {
				&:nth-child(#{$i}) { 
					@include transition-delay( (0.2s * $i) + 0.4s ); 
				}
			}
			
		}
		
	}
	
	a {
		display: block;
		padding: 20px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 300;
		font-size: 32px;
		@include transition( background 0.2s $ease-in-out-sine );
		
		&:hover { background: darken($blueColor,20); }
		
	}
	
	
	
}

	
.toggle-nav { 
	outline: none;
	color: $blueColor;
	display: block;
	position: absolute;
	background: transparent;
	top: 50%; left: 10px;
	z-index: 24;
	padding: 10px 10px 10px 40px;
	font-weight: 500;
	@include transition( all 0.2s $ease-in-out-sine 0s );
	@include transform( translateY(-50%) );
	text-transform: uppercase;
	
	@media screen and (max-width: 600px) {
		& { font-size:0; padding: 20px;}
	}
		
	.show-nav &,
	&:hover {
		background: $blueColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: $blueColor; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		position: absolute;
		top: 50%;
		border-top:  1px solid $blueColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $blueColor; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 1px solid $blueColor;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}