/* hero */
.hero {

	min-height: 350px;

	.home & {
		height: 100vh;
		position: relative;
		max-height: 800px;
		min-height: 500px;
		overflow: hidden;
		padding-top: 60px;
		
		@include linear-gradient( 300deg, #00293d, #05436c);
		@include display( flex );
		@include flex-flow( column nowrap );
		@include justify-content( center );
	}
}

.hero-content {
	position: relative;
	z-index: 2;
	text-align: center; 
	width: 500px;
	max-width: 95%;
	margin: 0 auto;
	font-weight: 300;
	img { 
		display: block;
		margin: 0 auto 20px;
		width: 300px; max-width: 90%; 
	}
}

.hero-title,
.hero-subtitle {
	color: #fff; 
	font-size: 42px;
	display: block; 
	margin: 0 0 10px;
}

.hero-subtitle { color: #3188cd; font-size: 24px; }