strong { font-weight: 500; }
.lightgrad { @include lightGradient(); }
.bluegrad { @include buttonGradient(); }
.lightbg { background: #fafafa; }

section.lightbg {
	border: solid #e3e3e3;
	border-width: 1px 0;
}

.bluebg { background-color: $blueColor; }
.fixedbg { background-attachment: fixed; }
.white-grad {
	position: relative; 
	z-index: 1;
	
	&:after {
		content:"";
		position: absolute; 
		z-index: -1;
		top:0; left:0; right:0; bottom:0;
		opacity:0.9;
		background: #fff;
	}
	
	@media screen and (min-width: $gridCollapseSmall+1) {
		&.right-half:after { @include linear-gradient( to right, rgba(#fff,0) 0%, #fff 50% ); }
		&.left-half:after { @include linear-gradient( to left, rgba(#fff,0) 0%, #fff 50% ); }
	}
}

.half-section {
	overflow: hidden;
	
	@media screen and (min-width: $gridCollapseSmall+1) {
		&.right-half { padding-left: 50%; }
		&.left-half { padding-right: 50%; }
	}
}

/* particleground home hero */
.hero {
	overflow: hidden;
	.pg-canvas {
		position: fixed;
		top:$navHeight; left:0; right:0; bottom:0;
		opacity:0.2;	
	}
}

/* coolest class ever */
.circle-button {
	@include t-fa-abs();
	position: relative;
	overflow: hidden;
	width: 80px; height: 80px;
	border-radius: 50%;
	display: inline-block;
	&:before { font-size: 32px; }
	
	&.energy-f {
		&:before { font-family: $energyFont; }
	}
	
	&,
	&:after {
		@include transition( all 0.2s $ease-in-out-sine );
	}

	&:after {
		position: absolute;
		top: 4px; left: 4px; bottom: 4px; right: 4px;
		border-radius: 50%;
		content:"";
		@include transform-origin( center center );
	}
	
	a:hover &,
	&:hover {
		&:after {
			@include transform( scale(0,0) );
		}
	}
	
	&.big { 
		width: 140px; height: 140px;
		&:before { font-size: 72px; }
	}
	
	&.sm { 
		width: 44px; height: 44px;
		&:before { font-size: 20px; }
		&:after { top: 2px; left: 2px; bottom: 2px; right: 2px; }
	}
	
	&.inverse {
		&:after { @include transform( scale(0,0) ); }
		a:hover &,
		&:hover {
			&:after { @include transform( scale(1,1) ); }
		}
		
		&.blue { color: #fff; }
		
	}
	
	&.blue {
		color: $blueColor;
		@include buttonGradient();
		a:hover &,
		&:hover { color: #fff; }
		&:after { background: #fff; }
	}	
	
}


/* footer */
footer {

	.footer-blocks {
		.circle-button.blue {
			display: block;
			&:after { background: #222;  }
			
			&:not(.inverse) {
				margin: 0 auto 15px;
				&:hover { color: #222; }
			}
			
		}
	}

	.social {
		@include display( flex );
		@include flex-wrap( wrap );
		@include justify-content( center );
		a { 
			display: block; 
			margin: 0 6px;
		}
	}
	
}

/* overview blocks */
.ov-blocks {

	.energy-f-button {
		width: 150px; height: 150px;
		&:before { font-size: 90px; }
	}
	
	.ov-title { 
		color: #fff;
		text-transform: uppercase;
		font-size: 22px;
		display: block;
		margin: 10px 0;
		text-align: center;
	}
	
	.item {
		position: relative;
		
		&:before {
			position: absolute;
			z-index:1;
			top:0; left:0; right:0; bottom:0;
			opacity:0;
			content:"";
			@include buttonGradient();
			@include transform( translate3d(0,100%,0) );
			@include transition( all 0.2s $ease-in-out-sine );
		}
		
		&:hover {
			&:before { 
				@include transform( translate3d(0,0,0) );
				opacity:0.6; 
			}
		}
		
		.item-content {
			position: relative;
			z-index: 2;
			width: 100%;
			text-align: center;
		}
		
		.circle-button,
		.circle-button:after {
			@include transition-delay( 0s );
		}
		
		&:hover {
			.circle-button,
			.circle-button:after {
				@include transition-delay( 0.2s );
			}
		}
		
	}

}

/* section headers */
.section-header {
	padding: 50px 0;
	margin: 0 auto;
	width: 600px;
	font-weight: 300;
	max-width: 90%;
	text-align: center;
	
	.title { margin:0; }
	
	p {
		color: #6c6c6c;
		font-size: 18px;
	}
	
}

.section-header-title { 
	color: $blueColor; 
	font-size: 40px;
}

.article-flex {

	@include flex-flow( row wrap );

	&,
	.article-title {
		@include display( flex );
		@include align-items( center );
	}	
	
	@media screen and (max-width: $gridCollapseSmall) {
		.article-body,
		.article-title { @include flex( 1 0 100% ); }
		.article-title { margin-bottom: 20px; }
	}
	
	.article-title .circle-button {
		margin-right: 20px;
		@media screen and (max-width: $gridCollapseSmall) {
			& { display: none; }
		}
	}
	
	>* { @include flex( 0 0 50% );  }
	
}

.article-blocks {

	$borderColor: #d9d8d6;
	
	border-top: 1px solid $borderColor;
	text-align: center;

	.col {
		border: solid $borderColor;
		border-width: 0 0 1px;
		
		@media screen and (min-width: $gridCollapseExtraSmall+1) {
			&:nth-child(2n+2) {
				border-left-width: 1px;
			}
		}
	}
	
	.item-content {
		max-width: 500px;
		margin: 0 auto;
	}
	
	li {
		text-align: left;
		font-weight: 300;
		border-top: 1px solid $borderColor;
		padding: 5px;
	}
	
}

.section-title {
	position: relative;
	text-align: center;
	&:after {
		content:"";
		width: 50px; 
		max-width: 100%;
		margin: 5px auto;
		border-top: 3px solid $blueColor;
		display: block;
		
		.dark-bg & { border-color: #fff; }
		
	}
}

/* google map */
.gmap.item { min-height: 350px; }

.energy-htmlmarker {
	position: absolute;
	width: 40px; height: 40px;
	border-radius: 50%;
	@include buttonGradient();
	box-shadow: 0 1px 3px rgba(0,0,0,0.7); 
	cursor: pointer;
	
	&:before {
		background: url(../images/the-energy-company-light-e.svg) center no-repeat;
		background-size: contain;
		position: absolute;
		content:"";
		top: 50%; left: 50%;
		@include transform( translate3d(-50%,-50%,0) );
		width: 24px; height: 24px;
		
	}
	
}

.employees .item {
	@include display( flex );
	border-bottom: 1px solid #fff;
}

.employee-panel {
	@include display( flex );
	
	.lazybg {
		@include flex( 1 0 225px );
		@media screen and (max-width: $gridCollapseSmall) { display: none; }
	}
	
	.article-body {
		@include flex( 2 1 auto );
	}
	
}

.button.white {
	background: #fff;
	color: $blueColor;
	
	a:hover &,
	&:hover {
		background: darken($blueColor,10);
		color: #fff;
	}
	
}

/* video grid */
.hoverable-grid {
	.item {
		position: relative;
		overflow: hidden;
		z-index: 1;
		
		&.vid {		
			@include t-fa-abs();
			&:before { 
				width: 60px; height: 60px;
				line-height: 60px;
				font-size: 24px;
				border: 1px solid #fff;
				color: #fff;
				border-radius: 50%;
				content: $fa-var-play; 
				left: 50%;
				margin-left: -20px;
			}
		}
		
		&:after {
			content:"";
			@include buttonGradient();
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			z-index: -1;
			opacity:0;
			@include transform( translate3d(0,100%,0) );
			@include transition( all 0.25s $ease-in-out-sine );
		}
		
		&:hover {
			&:after {
				@include transform( none );
				opacity:0.7;
			}
		}
		
	}
}

.dark-blocks {
	
	border-right: 1px solid #fff;
	
	.item {
		position: relative;
		overflow: hidden;
		&:before {
			content:"";
			background: rgba(0,0,0,0.6); 
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			z-index: -2;
		}
	}
	
	.col {
		border: solid #fff;
		border-width: 0 0 1px 1px;
	}
	
}

.section-links { 
	padding: 10px;
	text-align: center;
	border-top: 2px solid $blueColor;
	border-bottom: 1px solid #d8d8d8;
	cursor: default;
	
	a {
		display: inline-block;
		line-height: 1;
		padding: 8px 8px 5px;
		text-transform: uppercase;
		color: $blueColor;
		position: relative;
		font-weight: 300;
		
		@media screen and (max-width: 500px) {
			& { display: block; }
		}
		
		&:after {
			position: absolute;
			max-width: 90%;
			width: 40px;
			height: 3px;
			bottom: 0; left:0; right:0;
			margin: 0 auto;
			content:"";
			background: $blueColor;
			@include transform-origin( center left );
			@include transform( scale(0,1) );
			@include transition( transform 0.3s $ease-in-out-quart );
		}
		
		&.selected { font-weight: 500; }
		
		&:hover,
		&.selected {
			&:after {
				@include transform( scale(1,1) );
			}
		}
	}
}

.nopad>.filter-area { padding-top: 40px; }
.filter-bar { padding: 0 10px; }
.filter-controls {
	button {
		border-radius: 50%;
		border: 2px solid $blueColor;
		margin: 0 4px;
	}
}

.grid-content-block {
	padding: 40px 10px;
	.section-header { padding: 10px;}
	time { 
		display: block; 
		font-size: 14px; 
		margin: 0 0 5px;
	}
}

.view-all {
	text-align: center;
	padding: 30px 0;
}

.latest-galleries {

	@media screen and (min-width: $gridCollapseSmall+1) {
		&>.col-2:first-child { border-right: 1px solid #fff; }	
	}
	
	@media screen and (max-width: $gridCollapseSmall+1) {
		&>.col-2:first-child { border-bottom: 1px solid #fff; }	
	}

	
	
	.item {
		.item { height: 180px; }
	}
	
}

.main-body {
	.sidebar,
	.content {
		margin:0;
		padding: 40px;
	}
	
	.sidebar { background: #ededed; }
}

/* accordion */
.acc {
	.count { 
		display: inline-block; 
		padding: 0 12px; 
		border-radius: 18px; 
		background: $accHandleColor;
		color: $accHandleBGColor;
		line-height: 32px; 
		vertical-align: middle; 
		position: relative;
		top: 50%;
		margin-right: 4px;
	}
	
	.acc-item-content {
		ul,
		ol { 
			margin:0; 
			font-size: 16px;
			
			li+li { border-top: 1px solid rgba($accContentLinkColor,0.1); }
		}
		
		.count { 
			background: $accContentLinkColor;
			color: $accContentBGColor;
			line-height: 28px; 
		}
		
		a:hover .count,
		.selected .count {
			background: $accContentBGColor;
			color: $accContentLinkColor;
		}
		
	}
}

.article-head {
	color: $blueColor;
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid $blueColor;
	
	span {  display: inline-block;  }
	
	.authimage {
		width: 30px; height: 30px;
		display: inline-block;
		margin: 0 3px 0 8px;
		vertical-align: middle;
		overflow: hidden;
		border-radius: 50%;
	}
	
	.meta {
		font-size: 16px;
		&:before { margin-right: 5px; }
		
		&+.meta {
			margin-left: 5px;
			padding-left: 5px;
			border-left: 1px solid $blueColor;
		}	
	}
	
	.social {
		float: right;
		a { 
			vertical-align: middle;
			width: 28px; height: 28px; 
			&:before { font-size: 14px; }
			&:hover:before { color: $blueColor; }
		}
		
	}
	
}

@media screen and (max-width: $sidebarCollapseWidth) {
	.article-head {
		.meta,
		.social {
			float: none;
			display: block;
			margin: 10px 0;
			text-align: center;
			border: none !important;
		}
	}
	
	.main-body {
		.content,
		.sidebar { padding: 10px; }
	}
	
}

/* search page */